.benefits {
    @extend %section;
}


 @media screen and (min-width: $tablet) {
     .benefits__list {
         display: flex;
         gap: 30px;
         flex-wrap: wrap;
     }
 }

.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width:767.8px){
       text-align: center; 
    }
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--phone-color);
}

@media screen and (max-width: 767.8px) {
    .benefits__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.benefits__item {
    
    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
    }
    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
    }
}

.benefits__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--benefits-section-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}